#page-container{
	width: 760px;
	margin: 0 auto;
	
}

body{
	font-family: Arial, Helvetica, Verdana, Sans-serif;
	font-size: 12px;
	color: #666666;
	background: #ffffff;
}

#main-nav{
	background: red;
	height: 50px;
}

#header{
	height: 150px;
	background: #db6d16
	url(../img/about.jpg);
}

#sidebar-a{
	float: right;
	width: 280px;
	line-height: 18px;
}

#sidebar-a .padding {
	padding: 25px;
}

#content{
	margin-right: 280px;
	line-height: 18px;
}

#content .padding {
	padding: 25px;
}

#footer{
	clear: both;
	
	height: 66px;
}

.hidden {
display: none;
}

h1{
	margin: 0;
	padding: 0;
}

#content h2 {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

#content p {
	margin: 0;
	padding: 0;
	padding-bottom: 15px;
}

