#page-container{
	width: 760px;
	margin: 0 auto;
	background: red;
}

body{
	margin: 0;
	padding: 0;
}

#main-nav{
	background: red;
	height: 50px;
}

#header{
	background: blue;
	height: 150px;
}

#sidebar-a{
	float: right;
	width: 280px;
	background: darkgreen;
}

#content{
	background: green;
}

#footer{
	background: orange;
}